<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col">

      <!-- <app-recipes *ngIf="activeNavSection === 'Recipes'"></app-recipes>
      <app-shopping-list *ngIf="activeNavSection === 'ShoppingList'"></app-shopping-list> -->

      <router-outlet></router-outlet>
      <!-- <app-game-control (tick)="onTick($event)"></app-game-control>

      <app-odd *ngFor="let v of oddNumbers" [value]="v"></app-odd>
      <app-even *ngFor="let v of evenNumbers" [value]="v"></app-even> -->

    </div>
  </div>
</div>
