<div class="row">
  <div class="col-xs-12">
    <form action=""></form>
    <div class="row">
      <div class="col-sm-5 form-group">

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="name" #nameInput>
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">Amount</label>
          <input type="number" class="form-control" id="name" placeholder="amount" #amountInput>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
            <button class="btn btn-danger" type="button">Delete</button>
            <button class="btn btn-info" type="button">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
