<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <form action="" #shoppingItemForm="ngForm">
        <div class="col-sm-5 form-group">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="name"
              name="name"
              ngModel
              #nameInput
              required
            />
          </div>

          <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              name="amount"
              placeholder="amount"
              ngModel
              #amountInput
              required
              [pattern]="'^[1-9]+[0-9]*$'"
            />
          </div>

          <div class="row">
            <div class="col-xs-12">
              <button
                class="btn btn-success"
                type="button"
                [disabled]="!shoppingItemForm.valid"
                (click)="onAddItem(shoppingItemForm)"
              >
                {{ editMode ? "Update" : "Add" }}
              </button>
              <button *ngIf="this.editMode"
                class="btn btn-danger"
                type="button"
                (click)="onDelete()"
                [disabled]="!this.editMode"
              >
                Delete
              </button>
              <button class="btn btn-info" type="button" (click)="onClear()">
                Clear
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
